<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="preload" href="/public/seodata.json" as="fetch" crossorigin="anonymous">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <meta name="description" content="<%= description %>" />
    <meta name="keywords" content="<%= keywords %>" />
    
    <meta property="og:title" content="<%= og_title %>" />
    <meta property="og:description" content="<%= og_description %>" />
    <meta property="og:image" content="<%= og_image %>" />
    <meta property="og:type" content="<%= og_type %>" />
    
    <link rel="icon" href="<%= favicon %>" />
    <link rel="canonical" href="https://<%= domain %>" />
    <meta name="robots" content="<%= robots %>  ">

    <!-- Inject JSON-LD Structured Data -->
    <% if (script_1 && script_1 !== '{}') { %>
      <script type="application/ld+json">
        <%- script_1 %>
      </script>
      <% } %>
      
      <% if (script_2 && script_2 !== '{}') { %>
      <script type="application/ld+json">
        <%- script_2 %>
      </script>
      <% } %>
      
         <!-- Google Tag Manager -->
<% if (gtag_id) { %>
  <script async src="https://www.googletagmanager.com/gtag/js?id=<%= gtag_id %>"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', '<%= gtag_id %>');
  </script>
<% } %>

<!-- WhatsApp Conversion -->
<% if (whatsapp_gtag_id) { %>
  <script>
    gtag('event', 'conversion', {'send_to': '<%= whatsapp_gtag_id %>'});
  </script>
<% } %>

<!-- Phone Conversion Tracking -->
<% if (phone_conversation_id && phone_conversation_number) { %>
  <script>
    gtag('config', '<%= phone_conversation_id %>', {
      'phone_conversion_number': '<%= phone_conversation_number %>'
    });
  </script>
<% } %>

  
</head>

<body>
  <h1 style="position:absolute;left:-9999px;top:auto;width:1px;height:1px;overflow:hidden;">
    <%= h1_text %>
  </h1>
  <h2 style="position:absolute;left:-9999px;top:auto;width:1px;height:1px;overflow:hidden;">
    <%= h2_text %>
  </h2>

  <div id="root">
  </div>
  <script type="module" src="/src/main.jsx"></script>
</body>

</html>